/* Réinitialisation générale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    background-color: #fff;
    text-align: center;
}

/* Conteneur principal */
.container {
    max-width: 1200px; /* Largeur max sur PC */
    margin: 0 auto;
    padding: 20px;
}






/* ######################## Header ######################## */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Image du logo */
.image_logo {
    width: 40px; /* Ajuste selon le design */
    display: block;
    margin: auto;
}

/* Texte du logo */
.text_logo {
    /*display: none;  Masqué par défaut */
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Pacifico";
    font-size: 20px;
    /* text-transform: uppercase; */
    color: #1E6091;
    padding-left: 5px;
}

/* "Trip" en bleu */
.text_logo span {
    color: #76C893;
}

/* Image du texte "MyTripy" */
.mytripy {
    width: 170px; /* Ajuste la taille */
    height: auto;
    padding-left: 5px;
}




/* ######################## MENU BURGER ######################## */
.burger-menu {
    background-color: transparent; /* Couleur du fond du bouton */
    border: none;
    padding: 5px; /* Taille du bouton */
    border-radius: 50%; /* Rendre le bouton rond */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid #1E6091;
    width: 40px;
    height: 40px;
}

/* Image du menu burger */
.burger-menu img {
    width: 22px;
    height: 22px;
}

/* Effet de survol pour le bouton */
.burger-menu:hover {
    background-color: #64d6df;
    border: 1px solid #64d6df;
}






/* ######################## Header juste le X ######################## */
.header-chp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4); */
}


.sortir {
    margin-left: auto;
    background-color: transparent; /* Couleur du fond du bouton */
    border: none;
    padding: 5px; /* Taille du bouton */
    border-radius: 50%; /* Rendre le bouton rond */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid #1E6091;
    width: 40px;
    height: 40px;
}

/* Image du menu burger */
.sortir img {
    width: 22px;
    height: 22px;
}

/* Effet de survol pour le bouton */
.sortir:hover {
    background-color: #64d6df;
    border: 1px solid #64d6df;
}







/* ######################## NAVIGATION ######################## */
.meta-ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    top: 3.7rem;
    display: none; /* Cacher par défaut */
    position: absolute;
    right: 0;
    padding: 0 1.6rem;
    width: 100%;
    background-color: #1E6091;
    z-index: 10;
    border-radius: 0 0 8px 8px;
    list-style: none;
}

/* Quand la classe active est ajoutée au menu, on le montre */
.meta-ul.active {
    display: block; /* Afficher le menu */
}

.meta-navigation {
    text-align: left;
    border-bottom: 1px solid #d1d4d7;
}

.meta-a {
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour les boutons "Se connecter" */
.meta-navigation-btn-connexion {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.meta-navigation-btn-seconnecter {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #d1d4d7;
}

/* Styles pour les boutons "Créer mon compte" */
.meta-navigation-btn-creer-compte {
    padding: 10px 0;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
}

.btn {
    font-size: 1rem;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #34A0A4; /* Couleur de fond des boutons */
    border-radius: 25px;
    display: block;
    transition: background-color 0.3s;
}

/* Boutons hover effect */
.btn:hover {
    background-color: #76C893;
}







/* ######################## Contenu principal ######################## *

/* Section */
section {
    text-align: center; /* Centrer le texte dans la section */
    font-family: "Open Sans", sans-serif;
}

/* .fond-titre {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-height: 170px;
    object-fit: cover;
    z-index: -1; Place l'image en arrière-plan
} */

section h2 {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    margin-top: 10%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /*transform: rotate(-4deg);  Rotation de -3 degrés */
    /*display: inline-block;  Pour éviter que la rotation affecte le flux du texte */
    /*padding: 5px 20px;  Espacement autour du texte */
    /*border: 3px solid #000;  Contour autour du texte (épaisseur et couleur) */
    /*border-radius: 8px;  Bordures arrondies, ajustez si nécessaire */
    /* background-color: #fff; Fond blanc (optionnel, mais souvent utilisé pour un meilleur contraste) */
}

/* section p {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 10%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
} */





/* ######################## Barre de recherche ######################## */
.search-bar {
    position: relative; /* Permet de positionner l’icône en absolu */
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 5px 5px;
    margin-top: 9%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search-bar input {
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
    padding-right: 50px; /* Ajoute un espace pour ne pas que le texte touche le bouton */
}

/* Change la couleur du texte de la barre de recherche */
.search-bar input::placeholder {
    color: #A0A0A0;
}

/* Bouton de recherche rond */
.search-icon {
    position: absolute;
    right: 0; /* Positionne l'icône à droite */
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement */
    width: 42px; /* Taille du bouton */
    height: 42px;
    border-radius: 50%; /* Rond */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #64d6df;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
}

.search-icon img {
    width: 22px; /* Ajuste la taille de l’icône */
    height: 22px;
}

/* Effet au survol */
.search-icon:hover {
    background-color: transparent; /* Change la couleur au survol */
    border: 1px solid #64d6df;
}








.image-container {
    display: flex;
    flex-direction: column; /* Empile les blocs verticalement */
    align-items: center;
}

.image-voyage-container, .image-travail-container {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* Assurer que les éléments positionnés sont relatifs à ce conteneur */
}

.image-voyage {
    width: 90%;
    height: 30vh; /* Utilisation de 50% de la hauteur de la fenêtre pour l'image */
    object-fit: cover;
    border-radius: 25px;
}

.image-travail {
    margin-top: 2%;
    width: 90%;
    height: 40vh;
    object-fit: cover;
    border-radius: 25px;
}

.image-voyage-container h1 {
    width: 75%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    background-color: #64d6df;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image-travail-container h1 {
    width: 55%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    background-color: #64d6df;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image-travail-container p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.btn-link-voyage {
    font-size: 1rem;
    padding: 12px 12px;
    max-width: auto;
    position: absolute;
    top: 65%; /* Positionner le bouton sous l'image */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    background-color: #64d6df;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.btn-link-travail {
    font-size: 1rem;
    padding: 12px 12px;
    max-width: auto;
    position: absolute;
    top: 80%; /* Positionner le bouton sous l'image */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    background-color: #64d6df;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

/* Boutons hover effect */
.btn-link-voyage:hover , .btn-link-travail:hover {
    background-color: #fff;
    border: 1px solid #64d6df;
}






/* ######################## MAP France ######################## */
.map-france {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.image-map {
    width: 100%;
    height: auto;
}

.image-map path {
    fill: #1E6091;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.3s;
    cursor: pointer;
}

.image-map path:hover {
    fill: #64d6df;
}










/* ######################## Région Populaire ######################## */
.popular-regions-container, .favorites-regions-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15%;
    gap: 15px; /* Espacement entre les éléments */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Titre des régions populaires */
.titre-popular-region, .titre-favorite-region {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: 800;
    color: #000;
    text-align: left;
    position: relative;
}

/* Ligne sous le titre 
.titre-popular-region::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 20%;
    height: 3px;
    background-color: #1E6091;
    border-radius: 25px;
}*/

/* Style pour chaque région */
.popular-region, .favorite-region {
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    cursor: pointer;
}

/* Effet de survol
.popular-region:hover, .favorite-region:hover {
    transform: scale(1.02);
} */

/* Nom de la région */
.region-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 77%;
    width: 96%;
    height: 20%;
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
}

/* Image de chaque région */
.popular-region img, .favorite-region img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coeur-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    padding: 9px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.coeur {
    width: 20px;
    height: 20px;
}

.coeur-container.active {
    background-color: #fff;
}






/* ######################## Description Site ######################## */
.description-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    gap: 15px; /* Espacement entre les éléments */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.titre-description {
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-top: 15%;
    /* margin-bottom: 3%; */
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 300px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s box-shadow;
    cursor: pointer;
}

.description img {
    width: 45%;
    height: auto;
    margin-bottom: 15px;
}

.description h4 {
    width: 80%;
    font-size: 22px;
    margin-bottom: 5px;
    color: #333;
}

.description p {
    width: 80%;
    font-size: 16px;
    color: #333;
}

.titre-2-description {
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-top: 15px;
    position: relative;
}

.description-btn-destination {
    position: absolute;
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 12px 12px;
    margin-top: 15px;
    max-width: auto;
    color: #000;
    text-decoration: none;
    background-color: #64d6df;
    border-radius: 25px;
    display: block;
    left: 50%;
    transform: translateX(-50%); /* <--- pour bien centrer */
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Boutons hover effect */
.description-btn-destination:hover {
    background-color: #fff;
    border: 1px solid #64d6df;
}




/* ######################## Page : Se Connecter ######################## */
.card-titre {
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    width: 90%;
    color: #fff;
    text-align: center; /* ✅ centre le texte à l'intérieur */
    top: 8%; /* ajuste selon ta mise en page */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* pour passer au-dessus de l'image si besoin */
}

.titre-SeConnecter, .titre-mot-de-passe-oublie {
    margin: 0;
    font-size: 35px;
    font-weight: 800;
}

.sous-titre-SeConnecter {
    margin: 2px 0 0;
    font-size: 18px;
    font-weight: 500;
}


.ConteneurSeConnecter, .ConteneurCreerCompte, .ConteneurMotDePasseOublie, .ConteneurProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ConteneurCreerCompte form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ConteneurSeConnecter h4, .ConteneurCreerCompte h4, .ConteneurEmail h4, .ConteneurMotDePasseOublie h4, .ConteneurProfil h4 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    width: 90%;
    text-align: left;
}

.ConteneurPseudo, .ConteneurMotDePasse, .ConteneurEmail {
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.ConteneurPseudo input, .ConteneurMotDePasse input, .ConteneurEmail input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-right: 40px;
}

.ConteneurPseudo img, .ConteneurMotDePasse img, .ConteneurEmail img{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.mot-de-passe-oublie {
    font-family: "Open Sans", sans-serif;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #026d90;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s;
    cursor: pointer;
}

.mot-de-passe-oublie:hover ,.btn-modifier-pseudo:hover, .btn-modifier-bio:hover {
    text-decoration: underline;
}

.btn-SeConnecter, .btn-CreerCompte, .btn-recevoir-lien {
    font-size: 1rem;
    padding: 12px 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: #fff;
    text-decoration: none;
    background-color: #34A0A4; /* Couleur de fond des boutons */
    border-radius: 25px;
    display: block;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-recevoir-lien {
    margin-bottom: 20px;
}

/* Boutons hover effect */
.btn-SeConnecter:hover, .btn-CreerCompte:hover, .btn-recevoir-lien:hover {
    background-color: #76C893;
}

/* ######################## Page : Créer un Compte ######################## */

/* Overlay sombre */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.photo {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: calc(20% - 55px);
    left: 50%;
    transform: translateX(-50%);
}

.photoProfil {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.changerAvatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    text-align: center;
    width: 90%;
    color: #026d90;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    transition: color 0.3s;
    cursor: pointer;
}

.changerAvatar:hover {
    text-decoration: underline;
}

/* Correction pour s'assurer que le pop-up de profil est visible */
.fondAvatar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

/* Style général pour le pop-up */
.popup {
    display: none;
    position: fixed; /* Pour qu'il reste visible même en scrollant */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E6091;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 90%;
    max-width: 600px;  /* Limite de la largeur du pop-up */
    z-index: 10000; /* S'assurer que le pop-up est au-dessus de tous les autres éléments */
    overflow: hidden;
}

.popup h1 {
    color: white;
    font-weight: bolder;
    margin-bottom: 5%;
}

/* Image dans le pop-up */
.imgAvatar img {
    height: 80px;
    cursor: pointer;
    z-index: 1001;
    margin: 5px;
}







/* ######################## Page : Profil ######################## */
.card {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #fff;
    overflow: hidden;
}

.card-img {
    height: 160px;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-avatar {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: calc(15% - 60px);
    left: 50%;
    transform: translateX(-50%);
}

.card-avatar img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.pseudo {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 75px;
}

.bio {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: 90%;
    margin-top: 5px;
    /* margin-bottom: 10%; */
    text-align: left;
}

.btn-modifier-pseudo {
    font-family: "Open Sans", sans-serif;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #026d90;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    transition: color 0.3s;
    cursor: pointer;
}

.btn-modifier-bio {
    font-family: "Open Sans", sans-serif;
    display: block;
    text-align: left;
    width: 90%;
    margin-top: 5px;
    color: #026d90;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    transition: color 0.3s;
    cursor: pointer;
}

.btn-deconnexion {
    font-size: 1rem;
    padding: 12px 12px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 20px;
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    background-color: #e63946;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

/* Boutons hover effect */
.btn-deconnexion:hover{
    background-color: #fff;
    border: 1px solid #e63946;
}


/* Style général pour le pop-up */
.popup-modif {
    display: none;
    position: fixed; /* Utiliser fixed pour qu'il reste visible même en scrollant */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E6091;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 90%;  /* Tu peux ajuster la largeur ici */
    max-width: 600px;  /* Limite de la largeur du pop-up */
    z-index: 10000; /* S'assurer que le pop-up est au-dessus de tous les autres éléments */
}

.popup-modif h3, .popupAjouterFil h3 {
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
    margin-bottom: 3%;
}

.modif {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modif h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.modif input[type="text"],
.modif textarea,
.popupAjouterFil input {
    border: none;
    outline: none; /* Supprimer l'outline par défaut */
    width: 100%;
    padding: 10px;
    font-weight: "Open Sans", sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

/* Ajuster la taille de la textarea */
.modif textarea {
    min-height: 100px; /* Hauteur minimum pour que l'utilisateur puisse voir suffisamment de texte */
    resize: vertical; /* Permet à l'utilisateur de redimensionner la textarea verticalement */
}

.popup-modif button, .popupAjouterFil button {
    font-size: 1rem;
    padding: 12px 20px;
    width: 100%;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #34A0A4; /* Couleur de fond des boutons */
    border-radius: 25px;
    display: block;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Boutons hover effect */
.popup-modif button:hover, .popupAjouterFil button:hover {
    background-color: #76C893;
}







/* ######################## Page : Acceuil Top 3 regions Populaire ######################## */
.destinations-popular {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    /* gap: 15px; */
    width: 100%;
}

.destination-region-popular {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 90%;
    /* max-width: 400px; */
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s box-shadow;
    cursor: pointer;
    text-align: left;
}





/* ######################## Page : Profil destinations favorite ######################## */
.destinations-favorites {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    /* gap: 15px; */
    width: 100%;
}

.destination-region-favorites {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
}

.destination-region-name-favorites {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 70%;
}

.destination-description-favorites {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    margin-top: 0px;
    font-size: 12px;
    color: #777;
}





/* ######################## Page : Destinations ######################## */
.destinations {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
    /* gap: 15px; */
    width: 100%;
    
}

.destination-region {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:0.3s box-shadow;
    cursor: pointer;
    text-align: left;
}


.destination-image {
    width: 40%;
    height: 150px;
    object-fit: cover;
    transition: width 0.3s ease;
}


.destination-details {
    flex: 1;
}

.destination-region-name {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 75%;
    /* white-space: nowrap; */
}

.destination-description {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    margin-top: 0px;
    font-size: 12px;
    color: #777;
}

.destination-coeur-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    padding: 9px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.destination-coeur {
    width: 17px;
    height: 17px;
}

.destination-coeur-container.active {
    background-color: #fff;
}









/* ######################## Page : Fils de Discussion ######################## */

/* .titreFilRegion {
    margin-top: 5%;
    font-size: 130%;
}

.filPrincipal {
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1%;
    border-radius: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.conteneurPhotoFilsPrincipal {
    position: relative;
}

.conteneurPhotoFilsPrincipal img{
    width: 100%;
    display: block;
}

.conteneurPhotoFilsPrincipal h3 {
    white-space: nowrap;
}

.titreFilsPrincipal {
    position: absolute;
    color: rgb(0, 0, 0);
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-size: 60%;
    border-radius: 25px;
    padding: 5px;
}

.infoFilPrincipal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    margin-right: 3%;
}
.infoFilPrincipal p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    width: auto;
    text-align: center;
    font-weight: normal;
} */



.ajouterBtn img{
    width: 40px;
    cursor: pointer;
}

.popupAjouterFil {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 95%;
    margin-top: 1.5%;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
}

.popupAjouterFil img{
    position: relative;
    width: 95%;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.popupAjouterFil h3,.paramFil, .nomFil, .descriptionFil, .popupAjouterFil button{
    position: absolute;
    text-shadow: none !important;
    margin: 0px;
    font-family: "Open Sans", sans-serif !important;
}

.popupAjouterFil h3 {
    top: -3%;
    margin-top: 5%;
}

.nomFil{
    font-size: 80% !important;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    top : 25%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif !important;
}

.descriptionFil{
    font-size: 80% !important;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    top : 41%;
    font-weight: bold;
    font-family: "Open Sans", sans-serif !important;
}

.paramFil {
    display: flex;
    flex-wrap: wrap;
    top:59%;
    width: 80%;
    gap : 3%;
    align-items: center;
    justify-content: center;
}

.popupAjouterFil h4{
    font-size: 75%;
    color: #000000;
    background-color: #cbcbcb;
    border-radius: 5px;
    width: 48%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 2%;
}

.menuDeroulantFils {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border:none;
    width: 48%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
    padding: 2%;
    cursor: pointer;
}

.popupAjouterFil button{
    top:73%;
    padding: 2%;
    margin-top: 2%;
    width: 48%;
}

/* .scroll-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width:90%;
    margin-top: 1.5%;
    height: 500px;
    overflow-y: auto;

}

.fil {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    padding: 1%;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titreFil {
    font-size: 80%;
    font-weight: bold;
    margin-left: 3%;
}
.infoFil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    margin-right: 3%;
}

.infoFil p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    width: auto;
    white-space: nowrap;
    font-weight: normal;
    margin-bottom: 2%;
} */

.discussion-principale {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 9%;
    width: 100%;
}


/* Conteneur principal de la discussion */
.discussion {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    width: 100%;
}

/* Section de la discussion */
.discussion-cree {
    font-family: Sen, Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: left;
    align-items: flex-start;
}

.discussion-cree-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.discussion-cree-info-texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discussion-cree-info-profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid #000;
}

.discussion-cree-info-titre {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.discussion-cree-info-nom {
    margin-top: 0px;
    font-size: 12px;
    color: #777;
}

.discussion-cree-descriptif {
    font-size: 14px;
    color: #000;
    text-align: left;
}

.discussion-cree-chat {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 4px;
    padding: 5px;
    padding-left: 0px;
}

.discussion-cree-chat img {
    width: 11px;
    height: 11px;
}

.discussion-cree-chat p {
    font-size: 12px;
    color: #777;
}

.chat-coeur-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    border: #777 1px solid;
    border-radius: 25px;
    padding: 6px;
}

.discussionFil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    border: #777 1px solid;
    border-radius: 25px;
    padding: 6px;
}

.chat-coeur-container.active {
    background-color: #fff;
}



/* ######################## Page : Forum ######################## */

.allPosts {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    height: auto;
    max-height: 75vh;
    scrollbar-width: none;
    border-bottom: 0.4vh solid #D9D9D9;
}

.post {
    background-color: #ffffff;
    border: 0.4vh solid #D9D9D9;
    border-radius: 25px;
    width: 95%;
    margin-bottom: 0;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    position: relative;
    z-index: 5;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    transition: 0.3s box-shadow;
    cursor: pointer;
}

.post:hover {
    box-shadow: 0 4px 8px rgba(60, 60, 60, 0.5);
}

.infoPost {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.infoPost img {
    width: 17%;
    height: auto;
    object-fit: cover;
    margin: 0px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.txtInfoPost {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin-left: 3%;
}

.txtInfoPost h4 {
    font-size: 1.8vh;
    color: #777;
    font-weight: normal;
}

.message {
    margin: 5%;
    text-align: justify;
    width: 90%;
}

/* .interactionPost {
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 1%;
    margin-bottom: 1%;
} */


/* .iconCommentairePost {
    margin-left: 74%;
}

.commentaires {
    display: none;
    background-color: #D9D9D9;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    scrollbar-width: none;
    overflow-y: scroll;
    max-height: 50vh;
}

.commentaire {
    background-color: #ffffff;
    width: 93%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.infoCom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.infoCom img {
    position: absolute;
    top: 5%;
    width: 8%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px;
    border: none;
    margin-top: 5%;
    margin-left: 5%;
}

.txtInfoCom {
    position: absolute;
    top: 5%;
    left: 13%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    margin-left: 3%;
    margin-top: 5%;
}

.iconLikeCom {
    position:absolute;
    right: 5%;
    top: 5%;
    width: 7%;
    height: auto;
    object-fit: cover;
    margin-top: 5%;
    cursor: pointer;
}

.messageCom {
    margin-top: 15%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.messageCom p{
    font-size: 2vh;
    text-align: justify;
    margin: 5%;
} */

.conainerWritePost {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    border-radius: 25px;
    border: 0.4vh solid #D9D9D9;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
    z-index: 999;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.inputPost {
    height: 1.5em;
    width: 85%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
    overflow-y: auto;
    scrollbar-width: none;
    resize: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}

.iconSend {
    width: 10%;
    object-fit: contain;
    cursor: pointer;
}

.iconSend:hover {
    background-color: #D9D9D9;
}



/* ######################## Footer ######################## */
.footer {
    background-color: #f8f8f8;
    padding: 20px 15px;
    margin-top: 25%;
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-section h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-socials {
    display: flex;
    gap: 12px;
  }
  
  .footer-socials img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .footer-socials img:hover {
    transform: scale(1.2);
  }




/* ######################## Mentions Legales ######################## */
.mentions-legales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mentions-legales h1 {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-top: 15px;
    /* background-color: #e2e2e2;
    width: 100%;
    padding: 20px; */
    /* border-bottom: #777 1px solid; */
}

.mentions-legales h3 {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    text-align: left;
    margin-top: 15px;
    width: 90%;
}

.mentions-legales p {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: left;
    margin-top: 5px;
    width: 90%;
    border-bottom: #777 1px solid; 
    padding-bottom: 25px;
}
  

/* ######################## À Propos ######################## */
.apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.apropos h1 {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.apropos h3 {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #000;
    text-align: left;
    margin-top: 20px;
    border-bottom: 2px solid #777;
    text-shadow: none;
    /* margin-left: 5%; */
    width: 90%;
}

.apropos p {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: justify;
    margin-top: 10px;
    width: 90%;
    line-height: 1.6;
    margin-bottom: 3%;
}

.apropos ul {
    font-family: 'Sen', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: left;
    margin-top: 10px;
    width: 90%;
    padding-left: 10%;
    list-style-type: disc;
}

.apropos ul li {
    margin-top: 5px;
}



/* ######################## Tablette ######################## */
@media (max-width: 768px) {

}




/*////////////////// DROPDOWN ////////////////////////*/
.dropdown {
    border: 1px solid #ccc;
    width: 300px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
  }
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }


.msg-like{
    position: absolute;
    width: 4%;
    top:0px;
    right: 2%;
    margin-top: 2%;
}